Source: language-selector
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), automake, pkg-config, libecore-dev, libevas-dev, libedje-dev, liblanguage-dev, libeoi-dev (>= 0.3)
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, pkg-config
XCS-Cross-Build-Depends: libecore-dev, libevas-dev, libedje-dev, liblanguage-dev, libeoi-dev (>= 0.3)
Priority: optional
Standards-Version: 3.8.3

Package: language-selector
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, liblanguage-data, x11-common, locales
Description: GUI for language selection for OpenInkpot
 This tool provides a user with a menu for selecting language
 upon first OpenInkpot startup

Package: language-selector-dbg
Priority: optional
Architecture: any
Section: debug
Depends: language-selector (= ${binary:Version})
Description: GUI for language selection for OpenInkpot -- debug
 This tool provides a user with a menu for selecting language
 upon first OpenInkpot startup
 .
 This package contains debugging information.


