Source: language-selector
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), automake, pkg-config, libecore-dev, libevas-dev, libedje-dev, libchoicebox-dev, liblanguage-dev, libeoi-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, pkg-config
XCS-Cross-Build-Depends: libecore-dev, libevas-dev, libedje-dev, libchoicebox-dev, liblanguage-dev, libeoi-dev
Priority: optional
Standards-Version: 3.8.3

Package: language-selector
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, liblanguage-data, x11-common, locales
Description: GUI for language selection for OpenInkpot
 Selects language for user for OpenInkpot
